$bg-color: #ffffff;
$bg-color-sky: #f0f5fb;
$btn-color: #ff5500;
$orange: #fb9416;
$dark-orange: #e65f2b;
$blue: #01a6ff;
$dark-blue: #0189ff;
$purple: #731bcd;
$dark-purple: #5033dc;
$social-bg: #d4d8e3;
$text: rgba(50, 54, 57, 255);