*{margin: 0; padding: 0;}

body{
    font-size: $fs-n;
    font-weight: $fw-n;
    line-height: $line-height;
    font-family: $ff-c;
    color: $text;
    overflow-x: hidden;
};

@import 'hexagon';

@media (max-width: 351px) {
    @import '320px/header';
    @import '320px/features';
    @import '320px/in_doubt';
    @import '320px/testimonials';
    @import '320px/get_started';    
}

@media (min-width: 351px) {
    @import '400px/header';
    @import '400px/features';
    @import '400px/in_doubt';
    @import '400px/testimonials';
    @import '400px/get_started';    
}