* {
    margin: 0;
    padding: 0;
}

body {
    font-size: $fs-n;
    font-weight: $fw-n;
    line-height: $line-height;
    font-family: $ff-c;
    color: $text;
    overflow-x: hidden;
}

;

@import 'hexagon';

@import 'mobiles/header';
@import 'mobiles/features';
@import 'mobiles/in_doubt';
@import 'mobiles/testimonials';
@import 'mobiles/get_started';

@media (min-width: 768px){
    @import 'tablets/header';
    @import 'tablets/features';
    @import 'tablets/in_doubt';
    @import 'tablets/get_started';
}