header {
    .top-header{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: .5rem;
        .logo-section{
            width:25%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .logo-link{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: 40%;
                height: inherit;
                text-decoration: none;
                margin-left: 2rem;
                .logo{
                    height: 1.5rem;
                    width: 1.5rem;
                    margin-right: 0.3rem;
                }
                .title{
                    font-size: $fs-n*0.8;
                    color: $text;
                }
            }
            
            .fa-bars  {
                display: none;
                position: fixed;
                font-size: $fs-n*0.5;
                @media (min-width: 351px) {
                    font-size: $fs-n*0.85;
                }
                margin-right: 1rem;
                z-index: 21;
                padding: 0.5rem;
                right: 0;
            }
        }
        nav {
            width: 60%;
            .menu-list{
                margin-top: 1rem;
                display: flex;
                justify-content: space-around;
                position:absolute;
                z-index: 20;
                width: inherit;
                height: 4vh;
                right: 0;
                top: 0;
                background-color: transparent;
                box-shadow: none;
                list-style-type: none;
                padding-top: 0vh;
                border-radius: 0;
                transition: none;
                margin-right: 10px;
                .list-item{
                    display: inline-flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    text-align: center;
                    padding-right: 0rem;
                    margin-top: 0vh;
                    font-size: $fs-n*0.5;  
                    border-bottom: 3px solid orange;
                    .underline{
                        display: none;
                        width: 3rem;
                        align-self: flex-end;
                        border-top: 3px solid $social-bg;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
    .main-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        width: 80%;
        section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            margin-left:5rem;
            .main-title{
                font-size: $fs-b*0.5;
                font-weight: $fw-b;
                margin-top: 15vh;
                margin-bottom: 0.5em;
            }
            .main-description{
                font-family: $ff-ssp;
                font-weight: $fw-l;
                font-size: $fs-n*0.6;
                width: 70%;
                line-height: 1.5em;
            }
        }
        .start-saving-time{
            width: 60%;
            height: 10vh;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-around;
            margin-left: 5rem;
            margin-top: 5vh;
            .email{
                border: none;
                outline:none;
                border-bottom: 1px solid $social-bg;
                padding-bottom: 0.3rem;
                font-size: $fs-n*0.5;
                @media (min-width: 351px) {
                    font-size: $fs-n*0.55;
                }
                &:focus::placeholder{
                    color: transparent;
                }
                &::placeholder{
                    font-weight: $fw-b;
                }
            }
            .btn{
                border:none;
                color: white;
                background-color: $btn-color;
                font-weight: $fw-b;
                border-radius: 2px;
                padding: .7rem .6rem .7rem .6rem;
            }
        }
    }
    .companies-logos{
        width:60%;
        display:flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        line-height: $line-height;
        font-size: $fs-n*.7;
        margin-left: 5rem;
        margin-top: 0vh;
        list-style-type: none;
        font-weight: $fw-b;
        color: $social-bg;
        .company-item{
            margin-right: 1rem;
        }
    }
}